header{
    background-color: white;
    font-size: 130px;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border-bottom: 20px;;
    border-style: solid;
    border-color: rgb(189, 188, 188);
}

body{
    background-color: rgb(180, 215, 245);
    text-align: center;
}

h1{
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: -20px;
}

h2{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

h3{
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

p{
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

#startButton{
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 50px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
}

#startButton:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}

#backButton{
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 20px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
    display: block;
    margin-left: 80px;
    margin-top: 70px;
    margin-bottom: -90px;
}

#backButton:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}

#AnswerA {
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 25px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
    margin-right: 10px;
}

#AnswerA:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}

#AnswerB{
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 25px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
    margin-right: 10px;
}

#AnswerB:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}

#AnswerC{
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 25px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
    margin-right: 10px;
}

#AnswerC:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}

#AnswerD{
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 25px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
}

#AnswerD:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}

#Continue{
    background-color:rgb(189, 188, 188); 
    padding: 10px 20px; /* Innenabstand */
    font-size: 50px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: solid; 
    border-color: black;
    border-radius: 10px; 
    cursor: pointer;
}

#Continue:hover {
    background-color: white; /*Farbe des Buttons ändert sich, wenn cursor drauf schwebt*/
}


